body{
    background-color: whitesmoke;
    text-align: center;
}
main {
    margin: 50px;
}


header,footer {
    background-color: blanchedalmond;
    text-align: center;
    padding: 40px;
}


img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}

.box,.boxs {
    width: 240px;
    border: 2px, solid, gray;
    background-color: rgb(250, 250, 250);
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    vertical-align: middle; 
    transition: all;
}

.boxs{
    margin: 50px;
}
.box:hover {
    cursor: pointer;
    opacity: 0.8;
}

.info{
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

a{
    color: black;
    display: inline-block;
    margin: 50px;
}
a:active {
    color: black;
}

